/* colours */

$white: #FFFFFF;
$black: #000000;
$dark-background: #08091B;
$dark-blue: #10122D;
$turquoise: #2DC1C9;
$blue: #3964D0;
$dirty-blue: #3297CC;
$dirty-turquoise: #31A2CB;
$gray: #AFB0C5;
$darker-gray: #707070;
$smoky-purple: #4E5186;
$lavender: #31A2CB;

$gradient-btn: linear-gradient(to right, #3964D0 0%, #2DC1C9  100%);
$gradient-btn-reverce: linear-gradient(to right, #2DC1C9 0%, #3964D0  100%);

$border-decor: 2px solid #4E5186;

/* typography */

$font: "Lato", sans-serif;
$font-size: 16px;
$line-height: 1.38;
$font-color: #AFB0C5;
$link-color: #3297cc;
